@charset "ISO-8859-1";

/* .acss{
  margin-right: 10px;
  color: black;
  background: ; 
  padding: 7px;
  border: 3px solid black; 
  text-decoration: none;
}
.acss  {
   background:#EE8183;  
} */


.acss{
	color: #E15050;
	font-weight: bold;
	font-size: 20px;
	
}