@charset "ISO-8859-1";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #3C4551;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #E15050;
  color: white;
}
.topnav-right {
  float: right;
}

.heading2{
	font-weight: bold;
	color: #3C4551;
    display: block;
    margin-left: auto;
    margin-right: auto;
	
}
select { 
                background: white;
                background-image: none;
                width: 100%;
                height: 100%;
                color: black;
                cursor: pointer;
                border:1px solid black;
                border-radius:3px;
            }
.select {
                position: relative;
                display: block;
                width: 15em;
                height: 2em;
                line-height: 3;
                overflow: hidden;
                border-radius: .25em;
                padding-bottom:10px;
                  
            }