@charset "ISO-8859-1";
body {
 /*  margin: 0; */
  font-family: Arial, Helvetica, sans-serif;
  
}

.topnav {
  overflow: hidden;
  background-color: #3C4551;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #E15050;
  color: white;
}
.img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 10%;}
  .img1{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  }
  .topnav-right {
  float: right;
}

.atag{
	font-size: 28px;
	color:#2B3B4E;
}
.heading1{
	font-weight: bold;
	color: #3C4551;
  
	
}

.heading2{
	font-weight: bold;
	color: #3C4551;
    display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.table1{
	display: block;
    margin-left: auto;
    margin-right: auto
}
input[type=submit],[type=reset] {
  background-color: #E15050;
  color: white;
  width:100%;
  font-weight: bold;
  display: block;
    margin-left: auto;
   /*  margin-right: auto; */
    margin-right:100px;
}
 .name{
 font-weight: bold;
 color:#838383;
 }
 .name1{
 font-weight: bold;
 color:#3C4551;
 }
 .thcolor{
 background-color: #E15050;
 }
 .tdcolor{
 
 background-color: #E7E9EB;
 }
 .td1{
 font-weight: bold;
 background-color: #AAAAAA;
 }
 .td2{
 
 background-color: #049A02;
 }
 .td3{
 
 background-color: #ff073a;
 }
.heading3{
	font-weight: bold;
	color: #B7B7B7;
  
	
}
select { 
                background: white;
                background-image: none;
                width: 100%;
                height: 100%;
                color: black;
                cursor: pointer;
                border:1px solid black;
                border-radius:3px;
            }
            .select {
                position: relative;
                display: block;
                width: 15em;
                height: 2em;
                line-height: 3;
                overflow: hidden;
                border-radius: .25em;
                padding-bottom:10px;
                  
            }
            
 
#id1{
	color: black;
	
}
  